- if !@user.airport.nil?
  - content_for :extra_js do
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAPS_JAVASCRIPT_API_KEY}&sensor=false"
    %script
      = "var latitude = '#{h @user.airport.latitude}';"
      = "var longitude = '#{h @user.airport.longitude}';"

%header.results
  %h1
    %a{ :href => root_path }
      WHAT'S MY AIRPORT?

#main.results

  - if @user.airport.nil?

    .no-airport
      .lcd
        = "No airport found for #{h @user.name.titleize}!"
      %p
        = "Oh no! No airport exists with the code #{h @user.trigram} yet!"
      %p
        Let's
        %a{ :href => "/" }<
          try again
        with another name!

  -else

    %h2
      = "#{h @user.name.titleize}'s airport:"

    #trigram-wrapper
      #trigram{:class => @user.has_big_trigram? ? "small" : ""}
        .letter.lcd<
          = @user.trigram[0]
        .letter.lcd<
          = @user.trigram[1]
        .letter.lcd<
          = @user.trigram[2]
      #map

    #description
      %h3 Airport:
      .lcd
        = @user.airport.name
      %h3 City:
      .lcd
        = @user.airport.city
      %h3 Country:
      .lcd
        = @user.airport.country
      %h3 Latitude:
      .lcd
        = @user.airport.latitude
      %h3 Longitude:
      .lcd
        = @user.airport.longitude

    #more-links
      #sharing
        %a{ :href => "https://twitter.com/share", :class => "twitter-share-button", "data-size" => "large", "data-count" => "none", "data-hashtags" => "whatsmyairport", "data-text" => "Check out #{@user.name}'s airport: #{request.url} - What's yours?" }
          Tweet
        %script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        %g:plusone{ :annotation => "none" }
        %script
          (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        %span#facebook
          :plain
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwhatsmyairport.com%2F#{params[:name]}%2F#{params[:id]}&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:25px;" allowTransparency="true"></iframe>
      #home-link
        = link_to 'Try another one!', root_path
