!!! 5
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en"}
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }/

    %meta{"name"=>"viewport", "content"=>"width=device-width"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/

    = render :partial => "/shared/seo"

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Quantico'
    = stylesheet_link_tag 'style', :media => 'all'
    = stylesheet_link_tag 'small-screen', :media => 'all'
    = stylesheet_link_tag 'admin', :media => 'all'

    = csrf_meta_tags

    = javascript_include_tag "modernizr.js"

  %body
    = render :partial => "/shared/facebook"
    #container
      = yield
      %footer
        #credits
          Made in CDG by
          = link_to "@marcgg", "http://www.twitter.com/marcgg", { :target => "_blank" }
          and
          = link_to "@gflandre", "http://www.twitter.com/gflandre", { :target => "_blank" }
        = render :partial => "/shared/sharing"

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }

    = yield :extra_js
    = javascript_include_tag "application"

    = render :partial => "/shared/analytics"

    <!--[if lt IE 7]>
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"
    %script
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})});
    <![endif]-->
